@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .custom-cursor {
    caret-color: #4F46E5;
  }

  .custom-cursor::selection {
    background-color: #4F46E5;
    color: white;
  }
}